body {
  background-color: black;
}

header{
  text-align: center;
  position: absolute;
  top: 200px;
  bottom: auto;
  right: 20px;
  left: 20px;
  font-size: 60px;
  font-family: Calibri;
  color: rgb(255,215,0);
}

.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  padding-top: 70px;
}

.mail{
  text-align: center;
  position: absolute;
  top: 350px;
  bottom: auto;
  right: 20px;
  left: 20px;
  font-family: Times New Roman;
  color: white;
}
.number1{
  text-align: center;
  position: absolute;
  top: 380px;
  bottom: auto;
  right: 20px;
  left: 20px;
  font-family: Apple Chancery;
  color: white;
}

.number2{
  text-align: center;
  position: absolute;
  top: 410px;
  bottom: auto;
  right: 20px;
  left: 20px;
  font-family: Apple Chancery;
  color: white;
}

h2{
  padding-top: 220px;

}
.maps{
  padding-top: 50px;
}


/* This (btn.) is about the button (Home)*/
.btn {
  position: absolute;
  top: 18px;
  right: 25px;
  font-size: 18px;
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}

.btn:hover {background: rgba(255,215,0,0.5);}

.Home {color: white;}




/* This (btn2.) is about the button (I nostri vini)*/
.btn2 {
  position: absolute;
  top: 18px;
  right: 130px;
  font-size: 18px;
  border: none;
  background-color: inherit;
  padding: 14px 35px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}

.btn2:hover {background: rgba(255,215,0,0.5);}

.inostrivini {color: white;}




